### 함수선언
* 인자를 2개 받아서 연산하기
* 셀실행 단축키 
 1. ctrl + enter : 셀 실행 만
 2. shift + enter : 셀 실행 + 커서 아래로 
 3. alt + enter : 셀 실행 + 하위 셀 추가
 4. 셀의 유형 변경하는 단축키 ESC + m (마크다운) , ESC + y (코드)

In [1]:
def add(n1, n2):
    return n1 + n2

In [2]:
type(add)

function

In [6]:
add(10,20)

30

\begin{equation}
e^x=\sum_{i=0}^\infty \frac{1}{i!}x^i
\end{equation}

| This | is   |
|------|------|
|   a  | table|

In [18]:
squares = []
for i in range(10):   
    if i % 2 == 0:
        squares.append(i * i)

print(squares)

[0, 4, 16, 36, 64]

In [19]:
# list comprehension

squares2 = [i*i for i in range(10) if i % 2 == 0]
squares2

[0, 4, 16, 36, 64]

### 파이썬의 자료구조
* Dict { } : key=value
* List [ ] : 배열
* Tuple ( ) : Read Only 배열
* Set  : 중복을 허용하지 않는 배열

In [53]:
my_dict = {'name':'파이썬'}
my_dict2 = dict()

In [54]:
print(type(my_dict), type(my_dict2))

<class 'dict'> <class 'dict'>

In [55]:
if 'name' in my_dict:
    print(my_dict['name'])    
else:
    print('key not found')

파이썬

In [42]:
value = my_dict.get('name1')
print(value)
if value is None:
    print('key not found')
else:
    print(value)

None
key not found

In [44]:
my_dict['addr']='주소'
print(my_dict)

{'name': '파이썬', 'addr': '주소'}

In [56]:
for key,val in my_dict.items():
    print(f'{key} = {val}')

name = 파이썬

In [59]:
my_list = ['aa','bb']
my_list.append('cc')
my_list

['aa', 'bb', 'cc']

In [61]:
my_tuple = ('aa','bb')
print(type(my_tuple))

<class 'tuple'>

In [64]:
value = (1)
print(type(value))

value2 = (1,)
print(type(value2))

<class 'int'>
<class 'tuple'>

In [65]:
my_set = set([1,2,3,3,5,5])
my_set

{1, 2, 3, 5}