#### 행정구역 정보 읽고, 분석하기
1. read_csv() 함수로 csv file 읽기
2. loc 과 iloc를 사용해서 특정행과 열을 선택하기
3. 컬럼명 변경하기
4. 상관관계 분석 (인구수와 면적간의 상관관계)
5. 시각화

In [2]:
import pandas as pd

print(pd.__version__)

1.2.4

In [4]:
data = pd.read_csv('data/data_draw_korea.csv')
print(type(data))
print(data.shape)

<class 'pandas.core.frame.DataFrame'>
(229, 8)

In [10]:
data.head(3)

   Unnamed: 0     인구수 shortName   x  y       면적 광역시도 행정구역
0           0  202520        강릉  11  4  1040.07  강원도  강릉시
1           1   25589    고성(강원)   9  0   664.19  강원도  고성군
2           2   86747        동해  11  5   180.01  강원도  동해시

In [11]:
data.tail()

     Unnamed: 0     인구수 shortName  x   y      면적  광역시도 행정구역
224         224  127462        제천  8  10  882.47  충청북도  제천시
225         225   34480        증평  6  11   81.84  충청북도  증평군
226         226   62809        진천  5  11  406.08  충청북도  진천군
227         227  790216        청주  6  12  932.51  충청북도  청주시
228         228  198077        충주  6  10  983.70  충청북도  충주시

In [14]:
data.sample(5)

     Unnamed: 0     인구수 shortName   x   y       면적   광역시도 행정구역
225         225   34480        증평   6  11    81.84   충청북도  증평군
3             3   63986        삼척  11   8  1185.80    강원도  삼척시
155         155   58296      인천강화   1   3   411.20  인천광역시  강화군
0             0  202520        강릉  11   4  1040.07    강원도  강릉시
144         144  208603      서울용산   6   5    21.87  서울특별시  용산구

In [18]:
print(f'컬럼명 : {data.columns}')
print(f'인덱스 : {data.index}')

컬럼명 : Index(['Unnamed: 0', '인구수', 'shortName', 'x', 'y', '면적', '광역시도', '행정구역'], dtype='object')
인덱스 : RangeIndex(start=0, stop=229, step=1)

In [21]:
print(type(data.values))
data.values

<class 'numpy.ndarray'>

array([[0, 202520, '강릉', ..., 1040.07, '강원도', '강릉시'],
       [1, 25589, '고성(강원)', ..., 664.19, '강원도', '고성군'],
       [2, 86747, '동해', ..., 180.01, '강원도', '동해시'],
       ...,
       [226, 62809, '진천', ..., 406.08, '충청북도', '진천군'],
       [227, 790216, '청주', ..., 932.51, '충청북도', '청주시'],
       [228, 198077, '충주', ..., 983.7, '충청북도', '충주시']], dtype=object)

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  229 non-null    int64
 1   인구수         229 non-null    int64
 2   shortName   229 non-null    object
 3   x           229 non-null    int64
 4   y           229 non-null    int64
 5   면적          229 non-null    float64
 6   광역시도        229 non-null    object
 7   행정구역        229 non-null    object
dtypes: float64(1), int64(4), object(3)
memory usage: 14.4+ KB

In [25]:
# 인구수 컬럼의 타입 확인
data['인구수'].dtypes

dtype('int64')

In [27]:
# describe() 함수
data.describe()

       Unnamed: 0           인구수           x           y           면적
count  229.000000  2.290000e+02  229.000000  229.000000   229.000000
mean   114.000000  2.110898e+05    6.117904   11.262009   435.419795
std     66.250786  2.074378e+05    3.320469    6.040898   381.612549
min      0.000000  8.392000e+03    0.000000    0.000000     2.800000
25%     57.000000  4.955900e+04    3.000000    6.000000    54.000000
50%    114.000000  1.401590e+05    6.000000   11.000000   436.400000
75%    171.000000  3.216180e+05    9.000000   16.000000   692.800000
max    228.000000  1.125461e+06   13.000000   25.000000  1817.940000

In [29]:
# 인구수 1개의 컬럼 선택
print(type(data['인구수']))
data['인구수']

<class 'pandas.core.series.Series'>

0      202520
1       25589
2       86747
3       63986
4       76733
        ...
224    127462
225     34480
226     62809
227    790216
228    198077
Name: 인구수, Length: 229, dtype: int64

In [38]:
# 인구수 컬럼의 집계함수
print(f"인구수 최대값 {data['인구수'].max()}")
print(f"인구수 최소값 {data['인구수'].min()}")
print(f"인구수 평균 {data['인구수'].mean()}")
print(f"인구수 표준편차 {data['인구수'].std()}")
print(f"인구수 중간값 {data['인구수'].median()}")
data['인구수'].quantile([0.25, 0.75])

인구수 최대값 1125461
인구수 최소값 8392
인구수 평균 211089.77729257641
인구수 표준편차 207437.8370475227
인구수 중간값 140159.0

0.25     49559.0
0.75    321618.0
Name: 인구수, dtype: float64

In [40]:
# unique한 광역시도명
data['광역시도'].unique()

array(['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시', '부산광역시',
       '서울특별시', '세종특별자치시', '울산광역시', '인천광역시', '전라남도', '전라북도', '제주특별자치도',
       '충청남도', '충청북도'], dtype=object)

In [42]:
# 광역시도 row counting
data['광역시도'].value_counts()

경기도        31
서울특별시      25
경상북도       23
전라남도       22
강원도        18
경상남도       18
부산광역시      16
충청남도       15
전라북도       14
충청북도       11
인천광역시      10
대구광역시       8
대전광역시       5
광주광역시       5
울산광역시       5
제주특별자치도     2
세종특별자치시     1
Name: 광역시도, dtype: int64

In [43]:
#경기도 만 선택
data.loc[data['광역시도'] == '경기도']

    Unnamed: 0      인구수 shortName  x  y       면적 광역시도  행정구역
18          18    53497        가평  9  3  843.040  경기도   가평군
19          19   955384        고양  4  2  267.330  경기도   고양시
20          20    63227        과천  7  7   35.813  경기도   과천시
21          21   327111        광명  3  3   38.500  경기도   광명시
22          22   290210        광주  8  7  431.840  경기도   광주시
23          23   175676        구리  9  4   33.300  경기도   구리시
24          24   273302        군포  5  8   36.350  경기도   군포시
25          25   326523        김포  2  3  276.640  경기도   김포시
26          26   610300       남양주  8  3  458.440  경기도  남양주시
27          27    90398       동두천  7  2   95.680  경기도  동두천시
28          28   805473        부천  2  4   53.440  경기도   부천시
29          29   911628        성남  7  8  141.820  경기도   성남시
30          30  1125461        수원  6  9  121.090  경기도   수원시
31          31   381412        시흥  3  5  134.400  경기도   시흥시
32          32   668089        안산  3  6  144.780  경기도   안산시
33          33   173061        안성  4  8  554.200  경기도   안성시
34          34   566558        안양  3  4   58.520  경기도   안양시
35          35   191266        양주  8  2  310.310  경기도   양주시
36          36    95614        양평  9  6  877.080  경기도   양평군
37          37   100669        여주  9  7  608.640  경기도   여주시
38          38    41076        연천  7  1  695.230  경기도   연천군
39          39   200793        오산  3  8   42.740  경기도   오산시
40          40   915005        용인  7  9  591.500  경기도   용인시
41          41   149080        의왕  6  8   54.000  경기도   의왕시
42          42   408220       의정부  7  3   81.590  경기도  의정부시
43          43   190537        이천  8  8  461.020  경기도   이천시
44          44   385528        파주  3  2  672.560  경기도   파주시
45          45   423763        평택  5  9  452.310  경기도   평택시
46          46   140159        포천  8  1  826.380  경기도   포천시
47          47   150061        하남  9  5   93.100  경기도   하남시
48          48   555129        화성  3  7  688.100  경기도   화성시